<section>
        <div class="row">
            <div class="col-md-8">
                    <form ng-submit="editStudent(student.$id)">
                            <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="exampleInputname"  placeholder="Enter name" ng-model="student.name">
                            </div>
            
                            <div class="form-group">
                                    <label for="dept">Department</label>
                                    <input type="text" class="form-control" id="exampleInputdept"  placeholder="Enter department" ng-model="student.department">
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model="student.email">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            
                            <div class="form-group">
                                    <label for="college">College</label>
                                    <input type="text" class="form-control" id="exampleInputcollege"  placeholder="Enter college" ng-model="student.college">
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Update</a></button>
                           
                          </form>
                          


            </div>
        </div>

        <div class="row mt-5">
                <div class="col-md-4">
                        <span class="alert alert-success" role="alert" ng-show="mes1">{{mes}}</span>
                </div>
        </div>
        
</section>